@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row first">
        <div class="col-md">
            <h1>
                <i class="fas fa-angle-double-right"></i> FEA across the UK
            </h1>
            <p>
                FEA has been providing interim support to colleges up and down the country in key area such
                as MIS, Finance and Quality since 2008 (CHECK YEAR).
                As the only provider of interim leadership and management solutions and consultancy services
                that employs a team of consultants, FE Associates is uniquely placed to provide tried and tested
                expert professionals to support the leadership, management and consultancy needs of organisations 
                in the further education and skills sector.
            </p>
            <p>
                Since 2017 (CHECK YEAR) FEA has also been helping colleges by finding and securing permanent staff members to key roles
                such as principals and directors and since 2018 are the market leader in this area (IS THIS CORRECT?)
            </p>
            <p>
                Please see below for further information on our permanently employed workforce
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row first">
        <div class="col-md">
            <h1>
                <i class="fas fa-angle-double-right"></i> Meet the Team
            </h1>

            <div class="accordion" id="teamProfiles">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#KeyContacts" aria-expanded="false" aria-controls="collapseOne">
                                Key Contacts
                            </button>
                        </h5>
                    </div>

                    <div id="KeyContacts" class="collapse" aria-labelledby="headingOne" data-parent="#teamProfiles">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="card">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/KeyContacts/DavidSykes.jpg" alt="David Sykes">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">David Sykes</h5>
                                                <h6 class="card-title text-center">Joint Managing Director</h6>
                                                <p class="card-text">
                                                    David joined FE Associates in November 2015 and as Joint Managing Director has responsibility for the development
                                                    and growth of FE Associates.  As a further education and skills specialist with a background in colleges and private training providers,
                                                    David has a deep understanding of the needs of the sector and supports customers to ensure their organisations are receiving the support
                                                    and expertise to succeed in today’s challenging environment.
                                                </p>
                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/KeyContacts/MattAtkinson.jpg" alt="MattAtkinson">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Matt Atkinson</h5>
                                                <h6 class="card-title text-center">Joint Managing Director</h6>
                                                <p class="card-text">
                                                    Matt Atkinson joined FE Associates in August 2016 and is jointly responsible for the development and growth of FE Associates. 
                                                    With recent and successful Principal/Chief Executive experience in colleges behind him, Matt brings a wealth of knowledge and 
                                                    understanding of the sector and the support needed for colleges to succeed. Matt heads up the consultancy and structural 
                                                    change solutions division of FE Associates.
                                                </p>
                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/KeyContacts/JudithRichardson.jpg" alt="Judith Richardson">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Judith Richardson</h5>
                                                <h6 class="card-title text-center">Operations Director</h6>
                                                <p class="card-text">
                                                    Judith has served in leadership roles with FE Associates since 2008. Co-ordinating our operations and services to clients, 
                                                    Judith is well respected and well-known to colleges up and down the country. Judith is responsible for maintaining contact 
                                                    with our clients and consultants and ensures the smooth operation of our Head Office function in Bristol.
                                                </p>
                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/KeyContacts/LeeRudge.jpg" alt="Lee Rudge">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Lee Rudge</h5>
                                                <h6 class="card-title text-center">Finance Director</h6>
                                                <p class="card-text">
                                                    Lee has worked at FE Associates and its predecessor organisations since 2004. With an excellent understanding of the needs 
                                                    of the further education and skills sector, Lee is responsible for ensuring the organisation meets its objectives, 
                                                    provides cost effective solutions and responds to internal and external demands.
                                                </p>
                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/KeyContacts/EddBrown.png" alt="Edd Brown">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Edd Brown</h5>
                                                <h6 class="card-title text-center">Operations Director for Quality Improvement</h6>
                                                <p class="card-text">
                                                    Edd joined FE Associates in September 2016 as Operations Director for Quality Improvement. Edd’s role is to project manage 
                                                    support programmes for providers who aim to improve their teaching, learning and assessment practice. Before joining 
                                                    FE Associates Edd spent 13 years at Weston College where he was Improving Teaching and Learning Manager. 
                                                    During Edd’s time at Weston College it became a Grade 1, achieved teaching school status as well as winning two TES Awards - 
                                                    including College of the Year 2015 - and two Beacon Awards.
                                                </p>
                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/KeyContacts/RichardButcher.jpg" alt="Richard Butcher">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Richard Butcher</h5>
                                                <h6 class="card-title text-center">Partnerships Director</h6>
                                                <p class="card-text">
                                                    Richard joined FE Associates in Janaury 2018 as Partnerships Director.  Richard's role is to build sustainable 
                                                    relationships across the sector.  Richard has 18 years of experience in the FE and Skills sector and 10 years of 
                                                    senior management experience.
                                                </p>
                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#MISAndData" aria-expanded="false" aria-controls="collapseTwo">
                                MIS an Data
                            </button>
                        </h5>
                    </div>
                    <div id="MISAndData" class="collapse" aria-labelledby="headingTwo" data-parent="#teamProfiles">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem;">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/MIS/SteveHewitt.jpg" alt="Steve Hewitt">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Steve Hewitt</h5>

                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem;">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/MIS/ChrisHick.jpg" alt="Chris Hick">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Chris Hick</h5>

                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem;">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/MIS/AndrewNaismith.jpg" alt="Andrew Naismith">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Andrew Naismith</h5>

                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem;">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/MIS/MarkPowell.png" alt="Mark Powell">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Mark Powell</h5>

                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="card" style="width: 18rem;">
                                            <div class="imgPlaceholder">
                                                <img class="card-img-top" src="~/images/About/MIS/RobinWilson.jpg" alt="Robin Wilson">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Robin Wilson</h5>

                                                <p class="icons">
                                                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Finance" aria-expanded="false" aria-controls="collapseThree">
                                Finance
                            </button>
                        </h5>
                    </div>
                    <div id="Finance" class="collapse" aria-labelledby="headingThree" data-parent="#teamProfiles">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#CurriculumAndQuality" aria-expanded="false" aria-controls="collapseFour">
                                Curriculum and Quality
                            </button>
                        </h5>
                    </div>
                    <div id="CurriculumAndQuality" class="collapse" aria-labelledby="headingThree" data-parent="#teamProfiles">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>